
VITE_SUPABASE_URL=https://fmqkqomgbdmyuddelxob.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtcWtxb21nYmRteXVkZGVseG9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIzOTg4NDgsImV4cCI6MjA2Nzk3NDg0OH0.y74oguYzwQzKWVv-Kdt-njjR2Wk_2gvPZrdXfqgbPxA